@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background: #007bff;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.start-btn, .next-btn, .submit-btn{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius:  5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;

}

.btns, .btn {
    border: 1px solid;
    gap: 10px;
    margin: 20px 0;
    padding: 5px 10px;
    outline: none;
    background-color: beige;
    border-radius: 10px;
    
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: gainsboro;
}

.btns.correct {
    color: green;
}

.btns.wrong {
    color: red
}


button:active {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.hide {
    display: none;
}